@import url('../node_modules/modern-normalize/modern-normalize.css');

@font-face {
  font-family: monogram;
  src: url('../monogram.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

body {
  font-family: monogram, monospace;
  font-size: 2rem;
  word-spacing: 0.2rem;
  line-height: 1.3;
  min-height: 100svh;
  overflow: hidden;
}

code,
kbd,
pre,
samp {
  font-family: inherit;
}

button,
input,
select,
textarea {
  font: inherit;
  line-height: 1;
}

canvas,
img,
svg,
video {
  display: block;
  height: auto;
  max-width: 100%;
}

audio {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: inherit;
  overflow-wrap: break-word;
}

#app {
  isolation: isolate;
  width: 100%;
  height: 100%;
  position: relative;
}

.hidden {
  display: none !important;
}

@keyframes appear-block {
  0%,
  17.5% {
    display: none;
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  70% {
    display: block;
    opacity: 1;
  }
}

.ui {
  position: absolute;
  padding: 1rem;
  background-color: #fff;
  outline: solid 3px #000;
  filter: drop-shadow(rgb(100, 100, 100) 0 0 10px);
  animation: appear-block 1s;
}

.ui-text {
  user-select: none;
}

.btn-close {
  margin-top: 2rem;
}

#ui-large {
  padding: 0;
  border-radius: 15px;
  outline: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#computer {
  cursor: auto;
  background-image: url(../wallpaper.jpg);
  background-origin: border-box;
  border: dotted 2px #000;
  border-radius: inherit;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.gs {
  filter: grayscale(100%);
}

#computer-header {
  padding: 0 1rem;
  background-color: #fff;
  border-bottom: solid 3px #000;
  border-radius: 15px 15px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  font-size: 1.5rem;
}

li:has(img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 1em;
}

.love {
  margin-right: 0;
  margin-bottom: 4px;
  transform: scale(1.5);
}

#computer-btn-close {
  margin-bottom: 8px;
  transform: scale(1.5);
}

#computer-btn-close:hover {
  cursor: pointer;
  outline: dotted 2px #f22426;
}

#computer-btn-close:active {
  outline: dotted 2px #000;
}

#computer-main {
  flex-grow: 1;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.window-fix {
  min-width: 0;
  display: flex;
  flex-direction: column;
}

#projects-content {
  position: absolute;
  z-index: 2;
  top: 5%;
  bottom: 5%;
  left: 5%;
  right: 15%;
}

#experience-content {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 10%;
  left: 0;
  right: 20%;
}

#computer-apps {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-link {
  cursor: pointer;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  color: inherit;
  text-decoration: none;
  margin-bottom: 3rem;
}

.app-link:hover {
  color: inherit;
  text-decoration: none;
}

.app-text {
  font-family: Chicago;
  padding: 2px;
  background-color: #fff;
  width: fit-content;
  margin: auto;
}

#console {
  padding: 1rem;
  background-color: rgba(255, 189, 189, 1);
  border: solid 3px #000;
  border-radius: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#boot {
  padding: clamp(2rem, 10vw, 12rem);
  border: solid 3px #000;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#ui-medium {
  top: 2%;
  bottom: 2%;
  left: 10%;
  right: 10%;
}

#resume {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#skills {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#skills-content {
  overflow: auto;
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@keyframes appear-flex {
  0%,
  17.5% {
    display: none;
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  70% {
    display: flex;
    opacity: 1;
  }
}

#ui-small {
  bottom: 2%;
  left: 15%;
  right: 15%;
  min-height: 20%;
  display: flex;
  flex-direction: column;
  animation: appear-flex 1s;
}

#dialogue {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

#dialogue-btn-close {
  align-self: flex-end;
}
